# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# User specific files
Spreedly.Net.suo
*.user

# Nuget packages
packages

# mstest test results
TestResults